# Build artifacts
build-linux/
build-windows/

# Keep exe, dlls and assets in build dirs
!build-linux/MyGame
!build-linux/assets/
!build-linux/assets/**
!build-windows/MyGame.exe
!build-windows/*.dll
!build-windows/assets/
!build-windows/assets/**

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Deps cache (heavy, no need to push)
_deps/

# Compiled objects
*.o
*.a
*.obj
*.lib

# IDE
.vscode/
.idea/
*.user

# OS
.DS_Store
Thumbs.db
